.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  border-bottom: var(--border);
  padding: 0 1rem;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.navbar-title {
  padding: 0;
  margin: 0;
  width: fit-content;
  position: fixed;
  height: inherit;
  display: grid;
  align-content: center;
}
