.profile-picture-image-container{
  width: 150px;
  height: 135px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.profile-picture-image-container:hover{
  border: 1px solid gold;
  box-shadow: 0px 0px 4px gold;
}

.profile-picture-image-container:focus, .profile-picture-image-container:active {
  outline: none;
  border: 1px solid green;
  box-shadow: 0px 0px 4px green;  
}

.profile-picture-image-container:hover svg{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.profile-picture-image-container:focus svg{
  animation: none;
}


.profile-picture-image-container:hover .picture-name{
  font-weight: bolder;
}

.profile-picture-image-container .picture-name {
  padding: 5px;
  margin: 0;
}

.profile-picture-image-container svg {
  max-height: 100px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}