.footer {
  height: var(--footer-size);
  background-color: var(--bg);
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
}

.footer a {
  font: inherit;
  color: var(--text-color);
  text-decoration: none;
}
