.search-bar {
  height: 30px;
  width: 450px;
  position: absolute;
  right: 9%;
  background-color: white;
  border-radius: 20px;
  display: grid;
  place-items: center;
}

.search-bar-input {
  border-radius: inherit;
  height: 96%;
  width: 100%;
  outline: none;
  border: none;
  box-shadow: 0px 0px 0px 1px black inset;
  text-indent: 10px;
  transition: width var(--speed) ease;
}

.search-bar:focus {
  outline: none;
}

